@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                @ViewBag.Greeting @ViewBag.Username , Nasılsın ?
            </div>
            <div class="card-body">
                <p class="card-text">Hoşgeldin 2020</p>
                <a asp-action="apply" asp-controller="course" class="btn btn-primary btn-block">Başvuru yap</a>
            </div>
        </div>
    </div>

</body>
