@model Student
@{
    ViewData["Title"] = "Apply";
}

<h2>Apply</h2>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                Başvuru formu
            </div>
            <div class="card-body">
                <form asp-action="apply" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Name">Adınız</label>
                        <input asp-for="Name"  class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Eposta</label>
                        <input asp-for="Email" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone">Telefon</label>
                        <input asp-for="Phone" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Confirm">Kursa katılacak mısınız ?</label>
                        <select asp-for="Confirm" class="form-control">
                            <option value="">Seçiniz</option>
                            <option value="true">Evet , geliyorum</option>
                            <option value="false">Hayır , gelmiyorum</option>
                        </select>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
                </form>
            </div>
        </div>
    </div>

</body>

