@model Student
@{
    ViewData["Title"] = "Thanks";
}

<title>Thanks</title>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                Merhaba , @Model.Name
            </div>
            <div class="card-body">
                @if (Model.Confirm == true)
                {
                    <span>Katıldığınızdan dolayı mutlu olduk</span>
                    <div>
                        Diğer katılımcıları <a asp-action="List">görüntüle</a>
                    </div>
                }
                else
                { <span>Üzüldük Umarım fikriniz değişir</span>}
            </div>
        </div>
    </div>

</body>

